<!-- meta tags and other links -->
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <%- include('includes/page_head.ejs')%>
</head>
<body>
<aside class="sidebar">
    <%- include('includes/navbar.ejs')%>
</aside>

<main class="dashboard-main">
    <div class="navbar-header">
        <%- include('includes/header.ejs')%>
    </div>

    <div class="dashboard-main-body">

        <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
            <h6 class="fw-semibold mb-0">Dashboard</h6>
            <ul class="d-flex align-items-center gap-2">
                <li class="fw-medium">
                    <a href="" class="d-flex align-items-center gap-1 hover-text-primary">
                        <iconify-icon icon="solar:home-smile-angle-outline" class="icon text-lg"></iconify-icon>
                        Dashboard
                    </a>
                </li>
                <li>-</li>
                <li class="fw-medium">Diagnosis</li>
            </ul>
        </div>

        <div class="row gy-4">
            <% if (plans.length > 0) { %>
            <% plans.forEach((plan, index) => { %>

                    <% let bgClass = (index % 2 === 0) ? 'bg-lilac-100' : 'bg-success-100';
                        let durationText = '';
                        if (plan.duration >= 365) {
                            durationText = (plan.duration / 365) + ' Year';
                        } else if (plan.duration >= 30) {
                            durationText = (plan.duration / 30) + ' Month';
                        } else {
                            durationText = plan.duration + ' Day';
                        }

                    %>
            <div class="col-xxl-3 col-sm-6 pricing-plan-wrapper mx-8">
                <div class="pricing-plan position-relative radius-24 overflow-hidden border <%= bgClass %> ">
                    <div class="d-flex align-items-center gap-16">
                                                <span class="w-72-px h-72-px d-flex justify-content-center align-items-center radius-16 bg-base">
                                                    <img src="assets/images/pricing/price-icon1.png" alt="">
                                                </span>
                        <div class="">
                            <h6 class="mb-0"><%= plan.name %></h6>
                        </div>
                    </div>
                    <h3 class="mb-24"><%= plan.price %> <span class="fw-medium text-md text-secondary-light"><%=durationText%></span> </h3>
                </div>
            </div>

                <% }) %>
            <% } else { %>
                <tr><td colspan="5">No plans found.</td></tr>
            <% } %>


        </div>
    </div>
    <%- include('includes/footer.ejs')%>
</main>
<%- include('includes/script.ejs')%>

</body>
</html>
