<!-- meta tags and other links -->
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <%- include('includes/page_head.ejs')%>
</head>
<body>
<aside class="sidebar">
    <%- include('includes/navbar.ejs')%>
</aside>

<main class="dashboard-main">
    <div class="navbar-header">
        <%- include('includes/header.ejs')%>
    </div>

    <div class="dashboard-main-body">

        <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
            <h6 class="fw-semibold mb-0">Dashboard</h6>
            <ul class="d-flex align-items-center gap-2">
                <li class="fw-medium">
                    <a href="" class="d-flex align-items-center gap-1 hover-text-primary">
                        <iconify-icon icon="solar:home-smile-angle-outline" class="icon text-lg"></iconify-icon>
                        Dashboard
                    </a>
                </li>
                <li>-</li>
                <li class="fw-medium">Diagnosis</li>
            </ul>
        </div>

        <div class="row gy-4">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">All Diagnosis</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table basic-border-table mb-0">
                                <thead>
                                <tr>
                                    <th>Sr# </th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% if (diagnosisList && diagnosisList.length > 0) { %>
                                    <% let no = 1; %>
                                    <% diagnosisList.forEach((d) => { %>
                                        <tr>
                                            <td><%= no++ %></td>
                                            <td><%= d.name %></td>
                                            <td><a href="" class="btn btn-danger btn-xs ">Delete</a></td>
                                        </tr>
                                    <% }) %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="3" class="text-center text-muted">No diagnosis records found</td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <%- include('includes/footer.ejs')%>
</main>
<%- include('includes/script.ejs')%>

</body>
</html>
